<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-sm btn-outline-secondary" style="width:150px" type="button">Home</button>
        <button class="btn btn-sm btn-outline-primary" style="width:150px" type="button">Users</button>
        <button class="btn btn-sm btn-outline-secondary" style="width:150px" type="button">Products</button>
        <button class="btn btn-sm btn-outline-secondary" style="width:150px" type="button">Suppliers</button>
    </form>
</nav>
<div class="container-fluid" align="center">
    <form th:action="@{/users/save}" method="post" th:object="${user}">
        <div class="mb-3 " align="left">
            <label class="form-label">Surname</label>
            <input type="text" class="form-control" th:field="*{surname}" aria-describedby="emailHelp">
            <div class="form-text">Person Surname</div>
        </div>
        <div class="mb-3" align="left">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" th:field="*{email}" aria-describedby="emailHelp">
            <div class="form-text">Provide your email address</div>
        </div>
        <div class="mb-3" align="left">
            <label class="form-label">Company</label>
            <input type="text" class="form-control" th:field="*{company}" aria-describedby="emailHelp">
            <div class="form-text">Which company do you work for?</div>
        </div>
        <div class="mb-3" align="left">
            <label class="form-label">Role</label>
            <input type="text" class="form-control" th:field="*{role}" aria-describedby="emailHelp">
            <div class="form-text">What is your role within the company?</div>
        </div>
        <div class="mb-3" align="left">
            <label class="form-label">Password</label>
            <input type="text" class="form-control" th:field="*{password}" aria-describedby="emailHelp">
            <div class="form-text">Set up password for Employee</div>
        </div>
        <div class="mb-3" align="left">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" aria-describedby="emailHelp">
            <div class="form-text">Name of Employee</div>
        </div>
        <div class="mb-3" align="left">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" th:field="*{username}" aria-describedby="emailHelp">
            <div class="form-text">Employee Username</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>